@charset "UTF-8";
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
    * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    }

    body {
    font-family: 'Lato', sans-serif;
    background-color: #9D8A7C;
    }

    body .container {
    position: relative;
    overflow: hidden;
    width: 700px;
    height: 500px;
    margin: 80px auto 0;
    background-color: #796254;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    }

    body .container .half {
    float: left;
    width: 50%;
    height: 100%;
    padding: 58px 40px 0;
    border: medium solid #6F4D38;
    }

    body .container .half.bg {
    background-image: url('../images/registration.jpg');
    background-size: 400px;
    background-repeat: no-repeat;
    }

    body .container h1 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 23px;
    text-align: center;
    text-indent: 6px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #0d0f10;
    }

    body .container .tabs {
    width: 100%;
    margin-bottom: 29px;
    border-bottom: 1px solid #d9d9d9;
    }

    body .container .tabs .tab {
    display: inline-block;
    margin-bottom: -1px;
    padding: 20px 15px 10px;
    cursor: pointer;
    letter-spacing: 0;
    border-bottom: bold #d9d9d9;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    transition: all 0.1s ease-in-out;
    }

    body .container .tabs .tab a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #d9d9d9;
    transition: all 0.1s ease-in-out;
    }

    body .container .tabs .tab.active a, body .container .tabs .tab:hover a {
    color: #260F06;
    }

    body .container .tabs .tab.active {
    border-bottom: 1px solid #263238;
    }

    body .container .content form {
    position: relative;
    height: 287px;
    }

    body .container .content label:first-of-type, body .container .content input:first-of-type, body .container .content .more:first-of-type {
    -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label:nth-of-type(2), body .container .content input:nth-of-type(2), body .container .content .more:nth-of-type(2) {
    -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
    -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
    animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label:nth-of-type(3), body .container .content input:nth-of-type(3), body .container .content .more:nth-of-type(3) {
    -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
    -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
    animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label {
    font-size: 12px;
    color: #ffffff;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    }

    body .container .content label:not([for='remember']) {
    display: none;
    }

    body .container .content .signin-cont input.inpt {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 42px;
        margin-bottom: 12px;
        padding: 16px 13px;
        color: #ffffff;
        border: 2px solid #d9d9d9;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    
    body .container .content .signin-cont input.inpt::-webkit-input-placeholder {
        font-size: 14px;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content .signin-cont input.inpt:-moz-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content .signin-cont input.inpt::-moz-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content .signin-cont input.inpt:-ms-input-placeholder {
        font-size: 14px;
        color: #999999;
        font-family: 'Lato', sans-serif;
    }
    
    body .container .content .signin-cont input.inpt:focus {
        border-color: #999999;
    }
    
    body .container .content .signin-cont input.submit {
        font-size: 12px;
        line-height: 42px;
        display: block;
        width: 100%;
        height: 42px;
        cursor: pointer;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #263238;
        border: 1px solid #263238;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    
    body .container .content .signin-cont input.submit:hover {
        background-color: #2D1E17;
        color: #ffffff;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    body .container .content .signin-cont input:focus {
        outline: none;
    }
    
    body .container .content .signin-cont .checkbox {
        margin-top: 4px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
        margin: 17px -1px;
        padding: 0;
        border: 0;
        opacity: 0;
        visibility: hidden;
    }
    
    body .container .content .signin-cont .checkbox + label {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
    }
    
    body .container .content .signin-cont .checkbox + label:before {
        content: "\A";
        color: #999999;
        font-family: Verdana;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: transparent;
        border: 1px solid #d9d9d9;
        width: 11px;
        height: 11px;
        margin: -2px 8px 0 0;
    }
    
    body .container .content .signin-cont .checkbox:checked + label:before {
        content: "✓";
    }
    
    /* Регистрация */
    body .container .content .signup-cont {
        display: block;
    }
    
    body .container .content .signup-cont input.inpt {
        font-size: 14px;
        display: block;
        width: 100%;
        height: 42px;
        margin-bottom: 12px;
        padding: 16px 13px;
        color: #ffffff;
        border: 2px solid #d9d9d9;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    body .container .content .signup-cont input.inpt::-webkit-input-placeholder {
        font-size: 14px;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
    }

    body .container .content .sign-cont input.submit:hover {
        background-color: #2D1E17;
        color: #ffffff;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    body .container .content .signup-cont input.submit {
        font-size: 12px;
        line-height: 42px;
        display: block;
        width: 100%;
        height: 42px;
        cursor: pointer;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #263238;
        border: 1px solid #263238;
        background: transparent;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    
    body .container .content .signup-cont input.submit:hover {
        background-color: #2D1E17;
        color: #ffffff;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    body .container .content .signup-cont input:focus {
        outline: none;
    }
    
    body .container .content .signup-cont .checkbox {
        margin-top: 4px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
        margin: 17px -1px;
        padding: 0;
        border: 0;
        opacity: 0;
        visibility: hidden;
    }
    
    body .container .content .signup-cont .checkbox + label {
        vertical-align: middle;
        display: inline-block;
        width: 50%;
    }
    
    body .container .content .signup-cont .checkbox + label:before {
        content: "\A";
        color: #ffffff;
        font-family: Verdana;
        font-weight: bold;
        font-size: 8px;
        line-height: 10px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: transparent;
        border: 1px solid #d9d9d9;
        width: 11px;
        height: 11px;
        margin: -2px 8px 0 0;
    }
    
    body .container .content .signup-cont .checkbox:checked + label:before {
        content: "✓";
    }
    

    body .container .content .submit-wrap {
    position: absolute;
    bottom: 5;
    width: 100%;
    }

    body .container .content .submit-wrap a {
    font-size: 12px;
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    }

    body .container .content .submit-wrap a:hover {
        text-decoration: underline;
    }
        
    body .container .content .signup-cont {
    display: block;
    }

    @keyframes slideIn {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
    }
    }
    @-webkit-keyframes slideIn {
    0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
    }
    100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
    }
    }